.container {

}

.input {
  font-family: Avenir-Book;
  font-size': 16px;
  opacity: 1;
  color: black;
  text-align: left;
  letter-spacing': 0.8px;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 15px
}
