<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="1069828445362-l9fvsjiils7fm4n1mjvtgt96ib9kif68.apps.googleusercontent.com">
    <title>Zencil</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/semantic.css") %>">
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/1833252a-0dac-45a8-a6f9-58c9b6f8df11.css">

    <style>
    ::-webkit-input-placeholder { /* Chrome */
      color: #666666;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #666666;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #666666;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: #666666;
      opacity: 1;
    }

    .vr {
        display: block;
        opacity: 0.22;
        width:1px;
        background-color:#979797;
        position: absolute;
        top:0;
        bottom:0;
    }


    i {
      font-family: 'Icons'!important;
    }

    .ace_line > * {
      font-family: Monospace !important;
    }

    .ace_cursor {
      font-family: Monospace !important;
    }

    ::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(100, 100, 100, 0.4);
    }

    @-webkit-keyframes appear {
      from {
        top: 10px;
        opacity: 0.3;
      } to {
        top: 0px;
        opacity: 1;
      }
    }

    .enterFrame {
      animation: appear 0.4s linear;
      animation-fill-mode: forwards;
    }


    #container {
      min-height: 100vh;

      background: white;
      box-shadow: 0px 0px 1px 3px #f1f1f1;

      padding: 15px;
      margin: 65px 10px 10px 273px;
    }


    @-webkit-keyframes grayOut {
      from {
        -webkit-filter: grayscale(0%);
      } to {
        -webkit-filter: grayscale(100%);
      }
    }

    .pci-dss-logo {
      -webkit-filter: grayscale(0%);
      padding: 5px
    }

    .body_zencil {
      height: calc(100% - (60px));
      position: absolute;
      width: 100%;
    }

    .vrmain {
        opacity: 0.22;
        width:1px;
        background-color:#979797;
        top:0;
        bottom:0;
        position:absolute;
    }


  ::-webkit-scrollbar {
    display: none;
  }

 /*auto suggest try */

 body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  float: left;
  margin-left:50px;
  margin-top: 10px;
  width:60%;
  margin-bottom: 10px;
  height:40px;
  background: #F7F7F7;
  border-radius: 3px 0px 0px 3px;
}

.react-autosuggest__input {
  font-family: Avenir-Book;
  font-size: 16px;
  opacity: 1;
  color: black;
  text-align: left;
  letter-spacing: 0.8px;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}


.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-left: -30px;
}
.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.dancounsell {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/48.jpg);
}

.ladylexy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg);
}

.mtnmissy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/mtnmissy/48.jpg);
}

.steveodom {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/steveodom/48.jpg);
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}
/* auto suggest ends */
    .coverPic {
  display: block;
  box-sizing: border-box;
  background:  no-repeat ;
  background-size: 100% 100%
}

    /*.pci-dss-logo:hover {
      -webkit-animation: grayOut 1s linear;
    }*/

    </style>
  </head>

  <body style="background: #f9f9f9; min-width: 1024px; overflow: auto">

    <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'longtitle': false,
        'theme': 'true',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

    <div id="application" style="height: 100%; width: 100%; min-width: 1024px; overflow: auto">
    </div>
    <!-- <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>$('.close.icon').on('click', function() { $(this).parent().transition('fade'); });</script>
    <script src="<%= static_path(@conn, "/js/semantic.js") %>"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
