.container {
float: left;
margin-left:24%;
margin-top: 10px;
width:60%;
margin-bottom: 10px;
height:40px;opacity: 0.25;
background: #D8D8D8;
border-radius: 3px 0px 0px 3px;
}

.input {
  font-family: Avenir-Book;
  font-size: 16px;
  opacity: 1;
  color: black;
  text-align: left;
  letter-spacing: 0.8px;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}
